@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  margin: 0;
}

#header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-pic {
  float: left;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  box-shadow: 0px 2px #aaaaaa;
}

#name {
  font-size: 50px;
  color: #272527;
}

#about-me {
  padding-top: 100px;
  margin: 20px;
  max-width: 300px;
}

#description {
  font-family: 'Roboto', sans-serif;
  color: #7e7d7f;
  font-size: 15px;
}

#links {
  margin-top: 10px;
  font-size: 40px; 
  color: #EC4075;
}

#links a {
  color: inherit;
}

#links a:hover {
  color: black;
}

.link-img {
  height: 36px;
  width: 36px;
  padding-top: 5px;
  margin-bottom: -4px;
}

#portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-screenshot {
  margin: 10px;
  box-shadow: 2px 2px 6px #7e7d7f;
}

.portfolio-screenshot img {
  width: 80px;
  height: auto;
}

.portfolio-screenshot video {
  width: 100px;
  height: auto;
}

#portfolio img {
  height: 500px;
}

.mission {
  text-align: center;
}

.mission a {
  color: black;
  font-family: 'Roboto';
  font-weight: 600;
}

#mission-info {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.1em;
    box-shadow: 10px 0px 10px grey;
}

#mission-info p {
  padding-right: 3em;
  margin-bottom: 2em;
  margin-top: 0.2em;
  margin-left: 2em;
}

#thumbnail-mission {
  display: block;
  max-width:4em;
  max-height:4em;
  width: auto;
  height: auto;
  float: left;
  margin: 2em;
}

#close-button {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: auto;
  max-height: 1.5em;
  margin-top: 0px;
}

#mission-name {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.8em;
  margin-top: 1em;
  color: #EC4075;
}